<section class="portfolio section" id="portfolio">
    <div class="container">
        <div class="row ">
            <div class="col-xl-12">
                <div class="title text-center">
                    <h2> {{ with .Site.Data.direction.heading }} {{ . }} {{ end }} <span class="color">
                            {{ with .Site.Data.direction.headingSpan }} {{ . }} {{ end }}</span></h2>
                    <div class="border-meghna"></div>
                </div>
            </div>
        </div>

        <div class="row portfolio-items-wrapper">
            {{ range .Site.Data.direction.directionItem }}
            <div class="mix col-lg-4 {{ .types }}">
                <div class="portfolio-block">
                    <img class="img-fluid" src="{{ .image | absURL}}" alt="work-image">
                    <div class="caption">

                        <a href="{{ .link | absURL }}">
                            <h4>{{ .title }}</h4>
                            <p>{{ .description }}</p>
                        </a>
                    </div>
                </div>
            </div>
            {{ end }}
        </div>
    </div>
</section>